{% extends 'base.html' %}

{% block content %}
<h3 class="text-center">Your Order</h3>
<br>
<table class="table">
<tr>
    <td class="text-left"><strong>Product</strong></td>
    <td class="text-left"><strong>Amount</strong></td>
    <td class="text-left"><strong>Price</strong></td>
    <td class="text-left"></td>
</tr>
{% for item in cart.items.all %}
<tr>
    <td class="text-left">{{ item.product.title }}</td>
    <td class="text-left">{{ item.qty }}</td>
    <td class="text-left">{{ item.item_total }} $</td>
    <td></td>
</tr>
{% endfor %}
<tr>
    <td></td>
    <td class="text-left"><strong>Total cost:</strong></td>
    <td class="text-left"><strong>{{ cart.cart_total }} $</strong></td>
    <td class="text-left"></td>
</tr>
</table>
<a href='{% url "create_order" %}' class="pull-right"><button class="btn btn-success">Place Order</button></a>
{%endblock content%}